* {
    margin: 0;
    padding: 0;
}

body 
{
    background-color: gray;
}

#wrapper 
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.banner 
{
    margin-top: 10px;
    width: 100%; 
    height: 333px;
    font-family: Tahoma, Sans-Serif;
    color: Orange;
    font-size: 3em;
    font-weight: bold;
    text-align: center;   
}

.logo 
{
    text-align: center;   
}

.navList
{
    list-style-type: none;
    text-align: center;    
}

.navList li
{
    display: inline;    
}

.navList a
{
    text-decoration: none;
    display: inline-block;
    width: 200px;
    color: White;
    font-family: Trebuche MS, Sans-Serif;
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: solid thick gray;
}

a:hover
{
    /*color: #FF8000;  */
    color: #AAC3E5;
    border-bottom: solid thick #FF8000;
}

a.active  /* use this for an active link */
{
    color: #AAC3E5;
    border-bottom: solid thick #FF8000;
}

#content
{
    color: White;
    font-family: Tahoma, Sans-Serif;
    font-size: 1.3em;
    width: 100% - 5px; /* -5px to compensate for the thickness of the border */
    text-align: justify; 
    border: solid thick #7c9dcc;
    border-radius: 30px;
    margin-top: 10px;  
}

#content p
{
    padding: 20px;   
}



